* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img-logo img {
  width: 100px;
}
.logo h1 {
  padding: 10px;
  font-weight: 800;
  font-size: 1.6em;
  letter-spacing: -1px;
  color: #F6F9FC;
}
.text-logo {
  position: relative;
  right: 23px;
}
.text-logo h1 {
  padding: 10px;
  font-weight: 800;
  font-size: 1.6em;
  letter-spacing: -1px;
  color: #F6F9FC;
}
#authorize-btn,
#dropdown {
    display: none;
}
.middle-modal {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.middle-modal hr {
  width: 40%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
.container-custom {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.main-header {
  background-color: #E21C2B;
  color: white;
  box-shadow: 3px 3px 10px #888888;
}
.main-header .container-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-nav {
  display: none;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  flex-direction: column;
  background-color: #E21C2B;
  z-index: 100; 
  width: 100%;
  transition: all 0.5s ease;
}
.nav-bar-nav li {
  padding: 12px;
  line-height: 3.2rem;
}
.nav-bar-nav li a {
  color: white;
  text-decoration: none;
}
.fa-window-close {
  display: none;
}
nav.is-visible .fa-window-close {
  display: block;
}
nav.is-visible .fa-bars {
  display: none;
}
nav.is-visible .nav-bar-nav {
  display: flex;
}
.menu-icon {
  display: block;
  font-size: 4rem;
  position: absolute;
  top: 7%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 101;
}
.fa-window-close {
  display: none;
}

.menu-icon svg {
  font-size: 26px;
}
#dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #ffffff;    
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 0;
  top: 68px;
  border-radius: 2px;
  font-size: 14px;
}
.dropdown-content li {
  list-style: none;
  color: black;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}
.dropdown-content li a {
  color: black;
  display: block;
}
.dropdown-content li a:hover {
  color: #F6F9FC;
}
.dropdown-content li i {
  padding-right: 8px;
}
.dropdown-content li:hover {
  background: #DB222A;
  color: #F6F9FC;
}
.is-visible {
  display: block;
}
.drop-item {
  color: black;
}
.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.i-caret::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 9px;
}
.button {
  background-color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  min-width: 120px;
  min-height: 35px;
}
.signin-button {
  color: black;
  font-size: 1rem;
}
.signin-button:hover {
  background: #EAECED;
}
.signin-button:hover {
  color: black;
}
.currentuser-btn {
  color: black;
}

.relative-background {
  background-color: #F6F9FC;
  position: relative;
  height: 25vh;
}
.relative-background img {
  width: 350px;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.relative-form {
  bottom: 29px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* */
.search-content {
  margin-bottom: 50px;
}
.custom-prepend {
  margin-right: -2.3rem;
  border: none;
  z-index: 1040;
  background: transparent;
}
.search-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group-custom {
  display: flex;
  align-items: center;
  padding: .625rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #f00000;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
}
.rounded-left {
  border-bottom-left-radius: .25rem; 
}
.form-control-custom {
  display: block;
  width: 100%;
  height: 3rem;
  padding: .625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bbb;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.rounded-right, 
.rounded-top {
  border-top-right-radius: .25rem;
}
.custom-search {
  background-color: #eaeff5;
  padding-left: 2.35rem;
}
.search-input input {
  margin: 0;
  font-family: inherit;
  color: #DB222A;
  background-color: #fff;
  border-color: #E21C2B;
  outline: 0;
  box-shadow: 0 0 0 1px rgba(226, 28, 43, 1);
}
.search-input input::placeholder {
  color: #DB222A;
  font-size: 15px;
  font-weight: 600;
}
#search-form {
  width: 100%;
}
.search-input {
  width: 100%;
}
.form-control-custom:focus {
  color: #222;
  background-color: #fff;
  border-color: #E21C2B;
  outline: 0;
  box-shadow: 0 0 0 1px rgba(226, 28, 43, 1);
}
.autocomplete {
  position: relative;
}
.autocomplete-container {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.autocomplete-container ul {
  background: none repeat scroll 0 0 #ffffff;
  border-top: 1px dotted #ccc;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  top: 5px;
}
.autocomplete-container ul li {
  background: inherit;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 12px;
}

.autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  word-break: break-all;
}
.autocomplete-container a {
  display: block;
}
.match-content {
  position: absolute;
  padding: 10px;
  background-color: #E21C2B;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
  display: none;

}
#match-list {
  list-style: none;
}
#keyword-item a {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
/* */

.details-section {
  text-align: center;
  margin-bottom: 10px;
}
.details-section h1 {
  font-weight: 700;
  line-height: 1.30em;
  margin-bottom: 10px;
}
.details-section p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}

/* */
.ranking-list {
  display: grid;
  grid-gap: 20px;
  padding: 5px;
}

.rank-wrap {
  padding: 0px;
  margin: 50px auto;
  width: 95%;
}
.youtuber-details {
  background-color: white;
  padding: 20px;
  box-shadow: 3px 3px 10px #888888;
}

.all-rankings-tag ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.all-rankings-tag ul li {
  list-style: none;
  padding: 10px;
  display: block;
}
/*.all-rankings-tag ul li span a {
  display: block;
}*/
.all-rankings-tag ul li span {
  color: #FF0000;
  padding-right: 5px;
}

.tag-data {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.youtuber-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.youtuber-details > div {
  margin-bottom: 20px;
}
.rank-number strong {
  font-weight: 700;
  font-size: 32px;
} 
.user-img {
  width: 100%;
}
.user-img img {
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
}

.channel-info a {
    color: black;
    text-decoration: none;
}
.channel-info h2 {
    font-size: 25px;
    line-height: 3rem;
}
a:hover {
    color: black;
}
.mobile-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 2fr);
}
.app-footer {
  background: #D10000;
  color: white;
  font-size: 14px;
  margin-top: 20px;

}
.app-footer .container-custom {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "logo"
    "social"
    "copyright"
}
.footer .logo {
  grid-area: logo;
}
.copyright {
  grid-area: copyright;
}
.social-list {
  grid-area: social;
}

.social-list .social-platform li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}
.social-list .social-platform li a {
  color: white;
  font-size: 20px;
}

/* login */
.content {
  background: #f00000;
  background: -webkit-linear-gradient(to right, #f00000, #dc281e);
  background: linear-gradient(to right, #f00000, #dc281e);
  height: 100vh;
}
.login-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-logo.red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f00000;
  background: -webkit-linear-gradient(to right, #f00000, #dc281e);
  background: linear-gradient(to right, #f00000, #dc281e);
}
.notification-message {
  text-align: center;
}
.noti-error {
  border: none;
  border-radius: 20px;
  background: #F03A47;
  color: white;
  padding: 2px;
  margin-bottom: 10px;
}
.noti-success {
  border: none;
  border-radius: 20px;
  background: #CFF3ED;
  color: black;
  padding: 2px;
  margin-bottom: 10px;
}

@media (min-width: 768px){
  .nav-bar-nav {
    display: flex;
    flex-direction: row;
    background: transparent;
    position: relative;
    justify-content: initial;
    align-items: initial;
    height: 72px;
    overflow: initial;
    margin-left: auto !important;
  }
  .signin-button {
    font-size: 15px;
  }
  #dropdown {
    display: block;
  }
  .menu-icon {
    display: none;
  }
  .relative-background {
    background-color: #F6F9FC;
    position: relative;
    height: 30vh;
    /* overflow: hidden; */
  }
  .relative-background img {
    width: 350px;
    position: relative;
    left: 80%;
    top: 20px;
    transform: translateX(-50%);
  }
  .relative-form {
    bottom: 29px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .all-rankings-tag ul {
    flex-direction: row;
  }
  #search-form {
    max-width: 60%;
  }
  .channel-info {
    height: 110px;
    overflow: hidden;
  }
  .desc-wrap {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;
  }
  .desc-wrap p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobile-grid {
    grid-gap: 80px;
    grid-template-columns: repeat(3, 2fr);
  }
  .youtuber-details {
    display: grid;
    grid-template-columns: 35px 90px auto 2fr;
    grid-gap: 18px;
    justify-items: center;
    align-items: center;
  }
  .youtuber-details > div {
    margin-bottom: 20px;
  }
  .app-footer .container-custom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
